//flex 布局复用 水平方向两边对其  垂直方向上居中
@mixin flex($horizontal:space-between, $vertical:center) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}
@mixin bgImg($width:0, $height:0, $bgImgUrl:'',$bgSize:contain) {
  display: inline-block;
  width: $width;
  height: $height;
  background: url( $bgImgUrl) no-repeat center;
  background-size: $bgSize;
}
@mixin position($position:absolute,$top:0,$left:0,$w:100%,$h:100%){
  position:$position;
  top:$top;
  left:$left;
  width:$w;
  height:$h;
}

@mixin positionImg($pos:absolute,$top:0,$right:0,$w:0,$h:0,$img:''){
  position:$pos;
  top:$top;
  right:$right;
  width:$w;
  height:$h;
  background:url($img) no-repeat center;
  background-size:contain;
}
@mixin height($h:0,$lh:$h) {
  height: $h;
  line-height: $lh;
}
@mixin wH($w:0,$h:0) {
  width:$w;
  height: $h;
}
@mixin border($bw:1px,$bc:$colorF,$bs:solid) {
  border: $bw $bs $bc;
}
